#--------OAuth2.0 Client Configuration---------
#scope=
grant_type=password
username=demouser
password=testpass
client_id=demoapp
client_secret=demopass
#access_token=
#refresh_token=
authentication_server_url=http://brentertainment.com/oauth2/lockdin/token
#resource_server_url=
#------------------------------------------------






















